.content {
    flex-grow: 1;
    display: flex;
}

.container {
    max-width: initial!important;
    width: 100vw;
    padding: 0 16px;
    margin: 0!important;
    position: relative;
}

.row {
    margin-bottom: 0;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #3F4C5D;
    overflow-x: hidden;
}

button {
    font-weight: 600!important;
    background-color: #42a5f5!important;
}

a {
    font-weight: 600 !important;
    color: #3F4C5D!important;
    display: inline-block;
    outline: none;
}

.user-image {
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 20px;
}

.filler {
    flex-grow: 1;
}

.user-image a {
    display: block;
    width: 100%;
    height: 100%;
}

/******************
    NAVBAR
******************/

.signedin-user-fullname {
    font-weight: 700;
}

.li-signedin-user-image {
    margin-right: -195px;
    z-index: 1;
}

#signout-btn {
    background: inherit !important;
    border: none !important;
    box-shadow: none;
    color: #3F4C5D;
}

nav .dropdown-trigger {
    background-color: #fff;
    color: #3F4C5D;
    border: none;
    box-shadow: none;
    margin: -16px;
    width: 250px;
    text-align: end;
}

nav .dropdown-trigger:hover {
    background-color: none;
}

nav .dropdown-content li {
    display: flex;
    align-items: center;
}

#logoutForm {
    width: 100%;
}

#logoutForm button {
    width: 100%;
}

nav {
    background-color: #fff;
    color: #3F4C5D;
    height: auto !important;
    z-index: 999;
}

#nav-mobile {
    display: flex;
    align-items: center;
}

nav .brand-logo {
    color: #3F4C5D;
    position: static;
    line-height: 64px;
}

nav ul a {
    color: #3F4C5D;
}

.nav-wrapper {
    padding: 0 16px;
    display: flex;
}

/******************
    FOOTER
******************/

footer {
    min-height: 100px;
}

footer nav {
    position: relative;
    bottom: -4px;
}

footer .nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


/******************
    FORM-LAYOUT
******************/

.form-layout-row {
    display: flex;
    flex-grow: 1;
}

.form-layout-flex-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-layout-form {
    width: 400px;
}

.form-layout-form-title {
    font-size: 28px;
}

.form-layout-form-subtitle {
    color: #8E9EB3;
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 40px;
}

.form-layout-form-submit-button {
    width: 50%;
    padding: 0;
    margin-top: 40px;
    background-color: #42a5f5;
}

.input-field input {
    border-bottom: 1px solid #42a5f5 !important;
    box-shadow: 0 1px 0 0 #42a5f5 !important;
}

.input-field input.input-validation-error {
    border-bottom: 1px solid #d50000 !important;
    box-shadow: 0 1px 0 0 #d50000 !important;
}

.field-validation-error {
    color: #d50000 !important;
}

.form-layout-images-wrapper {
    background: #E7F4FC;
    align-self: stretch;
    margin-top: 2px;
    position: relative;
    right: -16px!important;
}

.form-layout-images-wrapper img {
    position: absolute;
}

.form-layout-image-man {
    width: 300px;
    bottom: 80px;
    left: 50px;
}

.form-layout-image-cloud-small {
    width: 200px;
    top: 110px;
    left: 60px;
}

.form-layout-image-cloud-big {
    width: 420px;
    top: 150px;
    right: 130px;
}


/********************
    HOME INDEX
********************/

.Iam {
    padding: 2em 5em;
    padding-bottom: 0;
}

    .Iam p {
        float: left;
        margin-right: 0.3em;
        font-size: 66px;
        height: 98px;
        margin-bottom: 0px;
    }

    .Iam b {
        float: left;
        overflow: hidden;
        position: relative;
        height: 98px;
        top: 66px;
        font-size: 66px;     
        font-weight: 400;
    }

    .Iam .innerIam {
        display: inline-block;
        color: #42a5f5;
        position: relative;
        white-space: nowrap;
        top: 0;
        left: 0;
        animation: move 5s ease-in;
        animation-iteration-count: infinite;
        animation-delay: 0.5s;
    }

@keyframes move {
    0% {
        top: 0px;
    }

    15% {
        top: 0px;
    }

    30% {
        top: -98px;
    }

    45% {
        top: -98px;
    }

    60% {
        top: -196px;
    }

    75% {
        top: -196px;
    }
}

.home-index-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-index-text-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    margin-top: -300px;
}

.home-index-subtitle {
    text-align: center;
    margin-top: 22px;
    font-size: 22px;
    max-width: 1000px;
}

.home-index-buttons-wrapper {
    margin-top: 22px;
}

.home-index-links-wrapper a {
    margin: 0 16px;
    width: 270px;
    margin-top: 22px;
}

.home-index-signup-link {
    background: #42a5f5 !important;
    color: #fff!important;
}

.home-index-signin-link {
    background: #fff !important;
    color: #3F4C5D;
}

.home-index-img {
    width: 400px;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

/*
    HOME INDEX PROJECT
*/

.border {
    border: 2px solid #E7F4FC;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
}

.home-index-card-project-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-index-card-project-wrapper .card {
    transition: all 1s;
}

.home-index-card-project-wrapper .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.4), 0 1px 5px 0 rgba(0, 0, 0, 0.7);
}


.home-index-card-project-content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    max-width: 370px;
}

.home-index-card-project-add-wrapper {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-pill {
    position: relative;
    margin: 0;
    padding: 5px 12px;
    height: 60px;
    width: 150px;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #1d89ff;
    font-weight: 400;
    font-size: 20px;
    font-family: inherit;
    z-index: 0;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    background: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

    .btn-pill span {
        color: #3F4C5D;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.7px;
    }

    .btn-pill :hover {
        animation: rotate 0.7s ease-in-out both;
    }

.btn-pill :hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

.btn-pill:before, .btn-pill:after {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #56FF82;
    content: '';
    opacity: 0;
    transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
    z-index: -1;
    transform: translate(100%, -25%) translate3d(0, 0, 0);
}

.btn-pill:hover:before, .btn-pill:hover:after {
    opacity: 0.15;
    transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-pill:hover:before {
    transform: translate3d(50%, 0, 0) scale(0.9);
}

.btn-pill:hover:after {
    transform: translate(50%, 0) scale(1.1);
}

.home-index-card-project-content-title {
    margin-left: 10px;
    font-size: 50px;
}

.home-index-card-project-content-subtitle {
    font-size: 12px;
    margin-left: 10px;
    margin-top: 0;
}

.home-index-project-create-img {
    position: absolute;
    top: 100px;
    laft: 100px;
}

#create-project-modal {
    width: 500px;
}

#create-project-modal form {
    padding: 0 24px;
}

.create-project-modal-cancel-btn {
    background: #fff !important;
}

.create-project-modal-create-btn {
    color: #fff;
}


