@model TaskManagment.ViewModels.Project.ProjectViewModel
@using TaskManagment.CustomClaims;

@{ 
    ViewData["Title"] = "Project";
}

<nav class="nav-project">
    <div class="project-nav-wrapper nav-wrapper">
        <div class="project-add-users-wrapper">
            <div class="user-image" style="background-image:url('@(User.FindFirst(c => c.Type == CustomClaimTypes.ImagePath).Value)')">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"></a>
            </div>
            <div class="user-image project-add-people-btn modal-trigger" data-target="add-people-modal-trigger">
                <i class="fas fa-plus"></i>
            </div>
        </div>
        <h2 class="project-title">@Model.Name</h2>
        <div class="project-info">
            <button class="project-nav-hamburger hamburger hamburger--elastic" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
</nav>

<div id="add-people-modal-trigger" class="modal">
    <div class="modal-content">
        <h4>Manage project members</h4>
        <p>A bunch of text</p>
    </div>
</div>