@using Microsoft.AspNetCore.Identity
@using DataAccess.Models;
@using TaskManagment.CustomClaims;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
<li>
    <div class="user-image" style="background-image:url('@(User.FindFirst(c => c.Type == CustomClaimTypes.ImagePath).Value)')">
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"></a>
    </div>
</li>
<li>
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm">
        <button type="submit" class="btn">Logout</button>
    </form>
</li>
<li>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="fas fa-chevron-down"></i></div>
            <div class="collapsible-body">
                <ul class="collection">
                    <li class="collection-item">Alvin</li>
                    <li class="collection-item">Alvin</li>
                </ul>
            </div>
        </li>
    </ul>
</li>
}
else
{

    <li><a asp-area="Identity" asp-page="/Account/Register">Sign up</a></li>
    <li><a asp-area="Identity" asp-page="/Account/Login">Sign in</a></li>
}