@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row form-layout-row">
    <div class="form-layout-flex-wrapper col s6">
        <div class="form-layout-form">
            <h1 class="error-title">Oops!... Something wrong</h1>
            <h2 class="error-subtitle">@ViewData["ErrorSubtitle"]</h2>
        </div>
    </div>
    <div class="form-layout-images-wrapper col s6">
        <img class="form-layout-image-man" src="~/images/man.svg" alt="man" />
        <img class="form-layout-image-cloud-small" src="~/images/cloud.svg" alt="cloud" />
        <img class="form-layout-image-cloud-big" src="~/images/cloud.svg" alt="cloud" />
    </div>
</div>

