@page
@model RegisterModel
@{
    ViewData["Title"] = "Sign up";
    ViewData["Subtitle"] = "Please, sign up bellow. These settings can be changed later.";
}
<div class="row form-layout-row">
    <div class="form-layout-flex-wrapper col s6">
        <div class="form-layout-form">
        <h2 class="form-layout-form-title">@ViewData["Title"]</h2>
        <div class="row">
            <div>
                <form asp-route-returnUrl="@Model.ReturnUrl" autocomplete="off" method="post" enctype="multipart/form-data">
                    <h4 class="form-layout-form-subtitle">@ViewData["Subtitle"]</h4>
                    <div asp-validation-summary="ModelOnly" class="sum-error field-validation-error"></div>
                    <div class="input-field">
                        <label asp-for="Input.FullName"></label>
                        <input asp-for="Input.FullName" />
                        <span asp-validation-for="Input.FullName"></span>
                    </div>
                    <div class="input-field">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" />
                        <span asp-validation-for="Input.Email"></span>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn blue lighten-1">
                            <i class="fa fa-folder-open"></i>
                            <input type="file" asp-for="Input.Image" required />
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path" type="text"
                                   placeholder="Image" />
                        </div>
                    </div>
                    <div class="input-field">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password"></span>
                    </div>
                    <div class="input-field">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" />
                        <span asp-validation-for="Input.ConfirmPassword"></span>
                    </div>
                    <button type="submit" class="btn waves-effect form-layout-form-submit-button">Sign up</button>
                </form>
            </div>
        </div>
        </div>
    </div>
    <div class="form-layout-images-wrapper col s6">
        <img class="form-layout-image-man" src="~/images/man.svg" alt="man" />
        <img class="form-layout-image-cloud-small" src="~/images/cloud.svg" alt="cloud" />
        <img class="form-layout-image-cloud-big" src="~/images/cloud.svg" alt="cloud" />
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
