@{
    ViewData["Title"] = "Home Page";
}

<div class="parallax-home-container">
    <ul id="scene">

        <li class="layer" data-depth="1"><img src="~/images/planet1.png"></li>
        <li class="layer" data-depth="-1"><img src="~/images/planet2.png"></li>
        <li class="layer" data-depth="0.5"><img src="~/images/rocket.png"></li>
        <li class="layer" data-depth=".1"><h1 class="home-title">Task Managment</h1></li>
        <li class="layer" data-depth="2"><img src="~/images/astronaut.png"></li>
    </ul>
</div>
@*<a data-toggle="sollapse" href="/Identity/Account/Register" class="btn btn-lg btn-default playball-text" id="button"><span class="glyphicon glyphicon-edit"></span><!-- Start EDIT --> Register Today!<!-- Stop EDIT --></a>*@

@section  Scripts {
    <script src="~/lib/parallax-home/parallax.js"></script>
}