@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="home-index-card-project-wrapper">
        <div class="border">
            <div class="card">
                <div class="home-index-card-project-content">
                    <div class="home-index-card-project-add-wrapper">
                        <button data-target="create-project-modal" class="btn-pill modal-trigger">
                            <span>Add</span>
                        </button>
                    </div>
                    <h1 class="home-index-card-project-content-title">New Project</h1>
                    <h2 class="home-index-card-project-content-subtitle">Create a project, where you can add and keep track of tasks</h2>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="home-index-wrapper">
        <div class="home-index-text-wrapper">
            <div class="Iam">
                <p>Time to create</p>
                <b>
                    <div class="innerIam">
                        Simply.<br />
                        Efficiently.<br />
                        Together.<br />
                    </div>
                </b>
            </div>
            <h2 class="home-index-subtitle">
                The first project management platform for software development that brings everyone on every team together to build better products.
            </h2>
            <div class="home-index-links-wrapper">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn home-index-signup-link">Sign up</a>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn home-index-signin-link">Sign in</a>
            </div>
        </div>

        <img class="home-index-img" src="~/images/home-index-img.png" alt="Alternate Text" />
    </div>
}

<div id="create-project-modal" class="modal">
    <div class="modal-content">
        <h4>New project</h4>
    </div>
    <form action="/" method="post">

    </form>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
