@{ 
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
}

<div class="settings-container">
    <h4 align="center">Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="settings-btn-div">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
