@using DataAccess.Models;

@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<div class="settings-btn-div">
    <button class="btn btn-default"><a asp-page="./Index">Profile</a></button>
    <button class="btn btn-default"><a id="change-password" asp-page="./ChangePassword">Password</a></button>
    <button class="btn btn-default"><a asp-page="./TwoFactorAuthentication">Two-factor authentication</a></button>
    <button class="btn btn-default"><a asp-page="./PersonalData">Personal data</a></button>
</div>

